extends base

block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')

        .card-deck
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title= `GHS ${total || 0}`
                    h6.card-subtitle.mb-2.text-muted Total Sales
                    p.card-text Today
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title= `GHS ${totalRefunds || 0}`
                    h6.card-subtitle.mb-2.text-muted Total Refunds
                    p.card-text Today
            //- .card.h-75.d-inline-block.border-dark
            //-     .card-body
            //-         h5.card-title GHS 12,000
            //-         h6.card-subtitle.mb-2.text-muted Total Sales
            //-         p.card-text Text
            //- .card.h-75.d-inline-block.border-dark
            //-     .card-body
            //-         h5.card-title GHS 12,000
            //-         h6.card-subtitle.mb-2.text-muted Total Sales
            //-         p.card-text Text
        br
        br
        br
        section
            h2 Sales
            .table-responsive
                table.table.table-hover
                    thead.thead-dark
                        tr
                            th(scope='col') Order Number
                            th(scope='col') Date
                            th(scope='col') Customer
                            th(scope='col') Order Total
                            th(scope='col') Amount Owed
                            th(scope='col') Total Refund
                            th(scope='col') Edit
                    tbody
                        each order in orders
                            tr
                                td= order.orderNum
                                td= order.date
                                td= order.customer.name
                                td= `GHS ${order.totalAmount}`
                                td= `GHS ${order.totalAmount - order.amountPaid}`
                                td= `GHS ${order.refund.totalAmountRefunded || '0'}`
                                td
                                    a.btn-sm.btn-danger(href=`/admin/orders/${order.id}/refund`) Refund
                                td
                                    a.btn-sm.btn-light(href=`/admin/orders/${order.id}`) Edit
                                td 
                                    a.btn-sm-btn-dark(href=`/admin/orders/${order.id}/invoice`) Invoice
        br
        br
        br
        //- section
        //-     h2 Refunds
        //-     .table-responsive
        //-         table.table.table-hover
        //-             thead.thead-dark
        //-                 tr
        //-                     th(scope='col') #
        //-                     th(scope='col') First
        //-                     th(scope='col') Last
        //-                     th(scope='col') Handle
        //-             tbody
        //-                 tr
        //-                     th(scope='row') 1
        //-                     td Mark
        //-                     td Otto
        //-                     td @mdo
        //-                 tr
        //-                     th(scope='row') 2
        //-                     td Jacob
        //-                     td Thornton
        //-                     td @fat
        //-                 tr
        //-                     th(scope='row') 3
        //-                     td Larry
        //-                     td the Bird
        //-                     td @twitter

